{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header bg-warning text-dark py-5">
    <div class="container">
        <h1 class="display-4">Get a Quote</h1>
        <p class="lead">Get personalized insurance quotes tailored to your needs</p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Request Your Quote</h2>
                        <iframe src="https://crm.brightsteadinsurance.com/website-lead" style="border: none; width: 100%; height: 950px;"></iframe>
                        {# Adjusted height. You may need to fine-tune this value. #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}